<!DOCTYPE html>
<html>
<head>
  <title>OutfitPlanner</title>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'mediaqueries', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
  <nav class="top-nav">
    <ul class="top-nav-list">
      <li><a href="/">Clothes</a></li>
      <li><a href="#">About</a></li>
      <li><a href="https://github.com/beckybeauchamp1/portfolio">Purchase</a></li>
      <li><a href="https://github.com/beckybeauchamp1">Contact</a></li>
    </ul>
  </nav>
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <li><a class="main-menu" href="/#/">Home</a></li>
        <li><a href="/#/outfits">Outfits</a></li>
        <li><a href="/#/clothes">Clothes</a></li>
        <li><a href="/#/clothing">Budget</a></li>
        <li><a class="main-menu" href="/#/designers">Designers</ax></li>
          <li><a class="main-menu" href="/#/clothes">Upload New</a></li>
        </ul>
      </div>
    </nav>

    <%= yield %>

  </body>
  </html>
